hcxpcapngtool
hcxhashtool
hcxpsktool
wlancap2wpasec
whoismac
hcxhash2cap
hcxhashcattool
wlanhc2hcx
wlanwkp2hcx
wlanhcxinfo
wlanhcx2essid
wlanhcx2ssid
wlanhashhcx
wlanhcxcat
wlanpmk2hcx
wlanjohn2hcx
wlancow2hcxpmk
wlanhcx2john
